* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: "DM Sans";
}

body {
  background-color: #e5e5e5;
  margin: auto;
  width: 1440px;
}

/* ----------------header----------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 1440px;
  background-color: #E5E5E5;
}

header .img-logo {
  background-image: url("../assets/hs..svg");
  width: 64px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

header nav {
  display: flex;
}

header nav p {
  font: 500 22px "DM Sans";
  color: #181717;
}

header nav p:hover {
  text-decoration: underline;
}

header nav p:not(:last-child) {
  margin-right: 27px;
}

/* ----------------main----------- */
/* Работа с about */

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 149px;
}

.about .about-info {
  width: 575px;
}

.about .about-info h1 {
  font: 500 60px "DM Sans";
  color: #181717;
  margin-bottom: 20px;
  width: 480px;
}

.about .about-info p {
  font: 400 24px "DM Sans";
  color: #606060;
}

.about .about-img {
  background-image: url(../assets/Thumbnail1.svg);
  background-repeat: no-repeat;
  width: 405px;
  height: 457px;
}

.skills {
  display: flex;
  width: 570px;
  justify-content: space-between;
  margin-top: 80px;
}

.skills h3 {
  font: 500 22px "DM Sans";
  color: #181717;
  text-decoration: underline;
}

.skills p {
  font: 400 20px "DM Sans";
  color: #181717;
  width: 430px;
}

.feedback .line {
  border: 2px solid #181717;
margin-top: 110px;
width: 1120px;
}



/* ----------------footer----------- */

footer {
  display: flex;
  justify-content: space-between;
  margin: 126px 0 116px 0;
}

footer .networks {
  display: flex;
}

footer .networks p {
  font: 500 22px "DM Sans";
  color: #181717;
}

footer .networks p:not(:last-child) {
  margin-right: 30px;
}

footer .name {
  font: 500 22px "DM Sans";
  color: #2429af;
}
